:root {
  --blue: #5d7780;
  --orange: #ff8c19;
  --white: #ffffff;
  --postTitle: 2.4rem;
  --gepland: 1.2rem;
  --beschrijvingTitle: 1.6rem;
  --beschrijving: 1.4rem;
  --hashtags: 1rem;
  --plus: 6.5rem;
}
